# Mac

.DS_Store


# Compiled PDFs
#
# Note: PDFs for figures will be ignored *unless* they are in a subdirectory!

*.pdf
*.backup

# Python
/__pycache__
src/analogrb/__pycache__
src/analogrb/__pycache__/
analogrb/__pycache__
/python/__pycache__
src/analogrb/__pycache__/circuits.cpython-311.pyc
src/analogrb/__pycache__/projector.cpython-311.pyc



numerics_fp/
projectors/
projectors/*
arbdata/
fpdata/

venv/
analogrbvenv/

*.sh
*.yaml
*.out
test*
